[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/bin/hyperkube kubelet \
  --address=0.0.0.0 \
  --hostname-override=${COREOS_PUBLIC_IPV4} \
  --api-servers=http://localhost:8080 \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
